* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
  
    background-color: black;
    color: #00ff00;
    font-family: monospace;
}

header {
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eaeaea;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.section {
  padding: 4rem 2rem;
  max-width: 900px;
  margin: 0 auto;
}

h1, h2 {
  margin-bottom: 1rem;
}

.project-list {
  display: grid;
  gap: 2rem;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: aparecer 5s ease-out forwards;
}
@keyframes aparecer {
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.project h3 {
  margin-bottom: 0.5rem;
  text-align: center;
}

.project a {
  color: #0077cc;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project p{
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: #0077cc;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: #f0f0f0;
  font-size: 0.9rem;
}

.centrada{
  display:block;
  margin:0 auto;
}

#email{
    color: white;
    justify-content: center;
    border: 3px solid black;
    display: flex;
    height: auto;
    width: 300px;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(135deg,6ec1e4,#4a90e2);
    border-radius:15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.7s ease, box-shadow 0.7s ease;
    text-align: center;
    background: linear-gradient(45deg, rgb(33, 37, 41), rgb(108, 117, 125));
}

#LinkedIn{
    color: white;
    justify-content: center;
    border: 3px solid black;
    display: flex;
    height: auto;
    width: 150px;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(135deg,6ec1e4,#4a90e2);
    border-radius:15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    background: linear-gradient(45deg, rgb(33, 37, 41), rgb(108, 117, 125));
}

